# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- R
- Java
- C++

Some of the commonly used libraries used by Data Scientists include:
- numpy
- scipy
- sklearn
- pytorch

| Data Science Tools|
| -------------|
| Jupyter Lab |
| Visual Studio Code | 
| R Studio | 
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
 # This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
- learn to use R studio
- learn to use jupyter notebook
- learn to use python

## Author: 
Yam Ke San